body{
margin: 0;
padding: 0;
font-family: Maven Pro;
}
header{
text-align:center;
font-size:xx-large;
font-family:Maven Pro;
font-weight:bolder;
}
#hd{
box-sizing:border-box;
width: 100vw;
height: 11vh;
color: white;
background: #29B6F6;
border-radius: 0 0 20px 20px;
}
#bd{
text-align:center;
font-size:larger;
margin-top: 50px;
font-size:25px;
}
#ads{
font-size:x-large;
font-weight:bolder;
}
footer {
    display: block;
    text-align: center;
    background-color: rgb(82, 82, 82);
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 15px;
}
footer a{
    font-size: x-large;
    color: rgb(255, 255, 255);
    transition-duration: 0.5s;
 }
